* {
    margin: 0%;
    padding: 0%;
}

nav ul {
    list-style: none;
    gap: 15px;
    display: flex;
    margin-top: 10px;
}

ul a {
    text-decoration: none;
    color: black;
}

header {
    justify-content: space-between;
    display: flex;
    padding: 0% 5% 0% 5%;
    margin: 2% 0% 2% 0%;
}

#spotlight {
    background-image: url(image.jpg);
    background-position: center;
    background-size: cover;
    height: 350px;
    color: white;
}

#spotlight {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 0% 20%; 
}
#spotlight h1 {
    font-size: 7vw;
}

#spotlight p {
    line-height: 2rem;
}

#features {
    display: flex;
}

#features div {
    margin: 2%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#features div span{
    display: flex;
    width: 40px;
    height: 40px;
    margin-bottom: 2%;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
}


@media only screen and (max-width: 636px){

    #spotlight h1 {
        padding-top: 25vw;
    }
}



@media only screen and (max-width: 430px){

    #spotlight h1 {
        padding-top: 40vw;
    }
}
